In [109]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import math
import multiprocess as mp
import threading

In [110]:
# df = pd.read_csv('breaks.csv')
df = pd.read_csv('breaks_temp.csv')
pages = pd.read_csv('pages.csv')
df.shape

# x = df[df['Unnamed: 0'].str.len() > 7]
# cols = ['break_name', 'break_url', 'time', 'rating',0,1]
# x.columns = cols
# x = x.drop([0,1], axis=1)
# df = pd.concat([x, df[['break_name', 'break_url', 'time', 'rating']].dropna()])
# df['rating'] = pd.to_numeric(df['rating'], errors='coerce')
# df.reset_index(drop=True).to_csv('breaks.csv', index=False)

(240, 11)

In [97]:
df[df['rating'] > 5].break_name.unique().shape[0] / df.break_name.unique().shape[0]

0.0404341349223239

In [98]:
df.groupby('break_name').agg({
    'rating':'max'
}).reset_index().groupby('rating').count()

        break_name
rating
0.0            760
1.0            231
2.0           1183
3.0            895
4.0            697
5.0            743
6.0            129
7.0             20
8.0             19
9.0              5
10.0            17

In [99]:
df.groupby('break_name').agg({
    'rating':'max'
}).reset_index().groupby('rating').count()/ df.break_name.unique().shape[0]

        break_name
rating
0.0       0.161737
1.0       0.049159
2.0       0.251756
3.0       0.190466
4.0       0.148329
5.0       0.158119
6.0       0.027453
7.0       0.004256
8.0       0.004043
9.0       0.001064
10.0      0.003618

In [123]:
ll = df.loc[df['rating'] > 2, ['latitude', 'longitude']].drop_duplicates()
for index, row in ll.iterrows():
    print(row['latitude'], row['longitude'])

-27.07 -109.33